/* h1 h2 p 
 */


h1 {
    background: yellow;
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
    background: black;
}

p {
    background: grey;
}


/* CSS SELECTOR  */


/* 
.myclass {
    background: red;
    text-align: center;
}
 
#myid {
    color: grey;
    text-transform: uppercase;
} */


/* to make inline ,
 internal and external 
  prefrece make it important  */